Monitor_Winservices/Web References/Web_SV/Moniter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Services_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="App_Type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebServicesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_NhanThongTin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Services_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="App_Type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_NhanThongTinResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebServicesSoapIn">
    <wsdl:part name="parameters" element="tns:WebServices" />
  </wsdl:message>
  <wsdl:message name="WebServicesSoapOut">
    <wsdl:part name="parameters" element="tns:WebServicesResponse" />
  </wsdl:message>
  <wsdl:message name="WS_NhanThongTinSoapIn">
    <wsdl:part name="parameters" element="tns:WS_NhanThongTin" />
  </wsdl:message>
  <wsdl:message name="WS_NhanThongTinSoapOut">
    <wsdl:part name="parameters" element="tns:WS_NhanThongTinResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="WebServices">
      <wsdl:input message="tns:WebServicesSoapIn" />
      <wsdl:output message="tns:WebServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_NhanThongTin">
      <wsdl:input message="tns:WS_NhanThongTinSoapIn" />
      <wsdl:output message="tns:WS_NhanThongTinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServices">
      <soap:operation soapAction="http://tempuri.org/WebServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_NhanThongTin">
      <soap:operation soapAction="http://tempuri.org/WS_NhanThongTin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServices">
      <soap12:operation soapAction="http://tempuri.org/WebServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_NhanThongTin">
      <soap12:operation soapAction="http://tempuri.org/WS_NhanThongTin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:57340/Moniter.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:57340/Moniter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>